<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/index.css">
</head>

<body style="text-align: center;">
    Product

    <h3>Cart List</h3>
    <table border="4" style="margin: 0px auto;width: 80%;">
        <tr>

            <td>Id</td>
            <td>Name</td>
            <td>Photo</td>
            <td >Description</td> 
            <td>Price</td>
            <td>Quantity</td>
          
            <td>Total</td>
        </tr>
   

    {{range .cart}}
    <tr>
        <td>{{.Product.Id}}</td>
        <td>{{.Product.Name}}</td>
        <td> <img height="120px" width="120px" src="{{.Product.Description}}" alt="Image" />
        </td>
        <td>{{.Product.Image}}</td>
        <td>{{.Product.Price}}</td>
        <td>{{.Quantity}}</td>
       

        <td>{{total .}}</td>

    </tr>

    {{end}}
    <tr>
       <td colspan="4"> TOTAL AMOUNT
    </td>
    <td colspan="3"> {{.total}}</td>
    </tr>
</table>

<a href="/product">continue shopping </a>
</body>

</html>