<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/index.css">
</head>

<body style="text-align: center;">
    Product

    <h3 >Product List</h3>
    <table border="4" style="margin: 0px auto;width: 80%">
        <tr>

            <td>Id</td>
            <td>Name</td>
            <td>Photo</td>
            <td>Price</td>
            <td>Quantity</td>
           <td >Description</td> 
            <td>Action</td>
        </tr>
   

    {{range .products}}
    <tr>
        <td>{{.Id}}</td>
        <td>{{.Name}}</td>
        <td> <img height="120px" width="120px" src="{{.Description}}" alt="Image" />
        </td>
        <td>{{.Image}}</td>
        <td>{{.Price}}</td>
        <td>{{.Quantity}}</td>
        

        <td>
            <a href="cart/buy?id={{.Id}}">buy</a>
            </td>

    </tr>

    {{end}}
</table>
</body>

</html>